<a href="https://colab.research.google.com/github/gerbeldo/2022-dma-final/blob/main/0_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerias

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
from wordcloud import WordCloud

%matplotlib inline
pd.set_option('display.max_columns', 30)
plt.rcParams['figure.figsize'] = [12.0, 8.0]

# Carga de datos

Cargamos datos de entrenamiento directamente desde el repositorio en github.

In [4]:
train = pd.read_csv("https://github.com/gerbeldo/2022-dma-final/blob/main/train.csv.zip?raw=true", compression = "zip")

Viendo la forma del DataFrame, vemos que unicamente la columna `Name` tiene datos nulos

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13736 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14981 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB

In [8]:
train['Name'].head

<bound method NDFrame.head of 0                Nibble
1           No Name Yet
2                Brisco
3                  Miko
4                Hunter
              ...
14988               NaN
14989    Serato & Eddie
14990           Monkies
14991           Ms Daym
14992              Fili
Name: Name, Length: 14993, dtype: object>